body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
}

h1 {
    color: #333;
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
}

input,
select,
button {
    margin-bottom: 10px;
    padding: 8px;
    width: 20%;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#scheduleOutput {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

/* Add any additional styling here */
